<p id="notice"><%= notice %></p>

<%= content_tag :div, class: "col-lg-12 row" do %>

  <%= render 'navigation', active: "grid" %>

  <%= "Wins: #{@deck.match_wins}" %>

  
  <% @cards.each do |card| %>

    <%= content_tag :div, class: "col-lg-2 card-image" do %>
      <%= image_tag(card.image_url, size: "216x300") %>
    <% end %>
  <% end %>
<% end %>