<!DOCTYPE html>
<html>
  <head>
    <title>MagicStatistics</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render partial: "shared/navbar" %>
  <body class='home'>
    <%= render 'shared/titled_box', title: @title, items: @items, home_path: @home_path do %>
      <%= yield %>
    <% end %>
  </body>
</html>
